[user]
 	name = Lionel Henne
 	email = lionelhenne@gmail.com

[include]
	path = ~/.gitconfig.local

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

[core]
	editor = micro

[color]
 	ui = auto
